{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "globals": {
        "React": true
    },

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "rules": {
        "indent": ["error", 4]
    },

    "plugins": [
        "react"
    ]
}
